@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
	margin:0;
	padding: 0;
	font-family: 'Roboto Condenced', sans-serif;
}

#container {
	width:30%;
	margin:0 auto;
}

#display {
	width: 100%;
	height:40px;
	font-size: 25px;
	font-weight: bold;
	border-width: 2px;
	border-radius: 5px;
	text-align: right;
}

.btn {
	border-radius: 3px;
	width:20%;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	margin:10px 12px;
}
